@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  color:  #77BEE4;
  background-color: #434343;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  color:  #2589BD;
  font-family: Lobster;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #282828;
  margin: 0;

  border-bottom: #666666 solid 3px;
}

nav button {
  text-align: center;
  color:  #77BEE4;
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: calc(10px + 1vmin);
  width: 100%;
  padding: 10px;
}

nav button:hover {
  color: #61dafb;
  background-color: #434343;
  text-decoration: none;
}

.select-wrapper {
  display: flex;
  justify-content: center;
}

.select-wrapper select {
  background-color: #434343;
  border: #666666 solid 2px;
  color: white;

  padding: 15px;
  margin: 20px 0px;
  border-radius: 15px;
  font-size: 16pt;
}

.icon {
  max-width: 50px;
}

.full-stripe {
  background-color: #282828;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.full-stripe p {
  margin: 0;
}