body {
  color: white;
  background-color: #434343;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #282828;
  margin-bottom: 20px;

  border-bottom: #666666 solid 3px;
}

nav a {
  text-align: center;
  color:  #2589BD;
  font-size: calc(10px + 1vmin);
  min-width: 100px;
  padding: 10px;
}

nav a:hover {
  color: #61dafb;
  background-color: #434343;
  text-decoration: none;
}
